<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sample</title>
		
		<!-- jQuery -->
		<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
		<!-- bootstrap5 css-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<!-- i-tag -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

		<link rel="stylesheet" href="css/style.css">
	</head>
	
	<body class="container">
		<div id="header">
			<div>
				<div>0Parent</div>
				<div>1Child</div>
				<div>2Child</div>
				<div>3Child</div>
				<div>4Child</div>
			</div>
		</div>
		<div id="obj" class="bg-dark text-light">
			<div>
				Move Obejct<br>
				<input id="txt-form"  class="txt" type="textbox" />
				<input id="txt-form2" class="txt" type="textbox" />
				<div id="submit-btn" class="btn btn-sm btn-primary">OK</div>
			</div>
		</div>
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/collider.js"></script>
		<script src="js/tree.js"></script>
		<script src="js/DB.js"></script>
		<script src="js/form_checker.js"></script>
		<script src="js/form_editor.js"></script>
		<!-- bootstrap -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		
	</body>
</html>